<h1>Reviews</h1>

<% if @movie.reviews.length >0 %>
  <% @movie.reviews.each do |review| %>
    <ul>
      <li>
        <p><strong>User Id:</strong><% @user=User.find(review.user_id) %><%= @user.email %></p>
        <p><strong>Review :</strong><%= review.text %></p>
        <p>
          <% if can? :manage ,review %>
            <%= link_to 'Edit', edit_movie_review_path(review) %> |
            <%= link_to 'Delete Review',movie_review_path(@movie,review), method: :delete ,data:{confirm: 'Are you sure?...'}%>
          <%end %>
        </p>
      </li>
    </ul>
  <%end %>
<%else %>
  No Reviews yet
<%end %>